@use 'modules/mixin' as m;

$primary-color: #222831;
$secondary-color: #393E46;
$third-color: #00ADB5;
$text-color: #d6d6d6;

body{
    color: $text-color;
    background-color: $secondary-color;
    scroll-behavior: smooth;
    background-color: rgb(0, 33, 35);
}

header{
    position: sticky;
    top: 0;
    z-index: 2;
    .nav-body{
        color: $text-color;
        background-color: $third-color;
        .dropdown{
            background-color: $third-color;
        }
    }
}

main {
    position: relative;
    background-color: rgb(0, 33, 35);
    .landingPage{
        width: 100%;
        height: 93vh;
        display: flex;
        position: relative;
        justify-content: center;
        .cta{
            margin-top: 4rem;
            text-align: center;
            width: 80%;
            z-index: 1;
            .ctaHeading{
                font-size: x-large;
                font-weight: bolder;
                margin-bottom: 10px;
                span{
                    background-image: linear-gradient(90deg, #00ADB5, #009dff, #00ffe5, #00ff88, #5900ff);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    background-size: 2000px 2000px;
                    animation: gradientAnim 4s infinite ease-in-out;
                }
            }
            .ctaP{
                @include m.primaryParagraphFont($font-size: x-large);
                font-weight: lighter;
                margin-bottom: 4rem;
                span{
                    background-image: linear-gradient(90deg, #009dff, #009dff, #00ADB5, #5900ff, #0077ff);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    background-size: 2000px 2000px;
                    animation: gradientAnim 7s infinite ease-in-out;
                }
            }
            a{
                cursor: pointer;
                padding-top: 10px;
                padding-bottom: 10px;
                button{
                    font-family: 'Ubuntu', sans-serif;
                    font-weight: 600;
                    padding-right: 24px;
                    padding-left: 24px;
                    height: 40px;
                    background-color: $third-color;
                    border-radius: 50px;
                    align-items: center ;
                    cursor: pointer;
                }
            }
        }
        img{
            position: absolute;
            transform-origin: center bottom;
            transform: scale(3);
            bottom: 0;
        }
    }
    .myProject{
        position: relative;
        background-color: $primary-color;
        padding: 2rem;
        h5{
            font-weight: 100;
            font-size: smaller;
        }
        .projectHeading{
            font-size: 4rem;
            font-weight: bolder;
        }
        .projectP{
            font-size: small;
            margin-bottom: 4rem;
        }
        .groupCard:first-child{
            margin-top: 6rem;
        }
        .groupCard{
            .card{
                img{
                    margin-bottom: 8px;
                }
                .cardHeading{
                    @include m.primaryHeadingFont($font-size: x-large);
                    color: $primary-color;
                    font-weight: bold;
                    font-size: larger;
                    margin-left: 8px;
                }
                .cardParagraph{
                    margin-left: 8px;
                    margin-bottom: 12px;
                    font-family: 'Ubuntu', sans-serif;
                }
                button{
                    background-color: $third-color;
                    color: #dedede;
                    padding-right: 16px;
                    padding-left: 16px;
                    height: 36px;
                    border-radius: 15px;
                    margin-left: 8px;
                    transition: 0.2s all ease-in-out;
                    i{
                        transition: 0.2s all ease-in-out;
                        margin-left: 4px;
                    }
                }
                button:hover{
                    background-color: darken($color: $third-color, $amount: 4);
                    i{
                        transform: translateX(4px);
                    }
                }
                overflow: hidden;
                color: $secondary-color;
                border-radius: 10px;
                width: 350px;
                height: 400px;
                background-color: #dedede;
            }
        }
    }
}

@keyframes gradientAnim {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

@media (min-width: 1280px) {
    main{
    }
}
@media (min-width: 1024px) {
    main{
        .landingPage{
            .cta{
                width: 40%;
                p{
                    margin-bottom: 2rem;
                }
            }
        }
    }
}
@media (min-width: 768px) {
    main{
        .landingPage{
            img{
                transform: scale(1);
            }
        }
    }
}